* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background: url('../img/fon2.jpeg');
}
header {
	width: 100%;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}
footer {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: whitesmoke;
	background-color: #000;
	opacity: 0.5;
	margin-top: 4em;
	font-size: 1.3em;
}
img {
	width: 100%;
	height: auto;
}
@font-face {
    font-family: Heinrich; /* Имя шрифта */
    src: url(Heinrich.ttf); /* Путь к файлу со шрифтом */
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: wheat;
}
footer div a {
	color: whitesmoke;
}
footer div a:hover {
	color: purple;
}
.logo {
	font-family: Heinrich;
    font-size: 2.4em;
    font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 70%;
	margin-left: 15%;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.links {
	width: 70%;
	margin-left: 15%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	display: flex;
	align-items: center;
	height: 40px;
	font-family: Heinrich;
    font-size: 1.7em;
    font-weight: bold;
}
.links div { flex: 1; display: flex; flex-wrap: wrap; justify-content: space-around; }
.links a { text-decoration: none; }
.main-block { width: 100%; float: left; margin-top: 1em; margin-bottom: 4em; }
.big-img {
	float: left;
	width: 70%;
	height: 40%;
	margin-left: 15%;
	position: relative;
}
.slider { width: 70%; margin-left: 15%; float: left; margin-bottom: 1em; margin-top: 1em; height: 420px; }
.slider1 {display: none;}
.slider-img { width: 45%; }
.slider-text { width: 55%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }
.slider-text div { width: 90%; text-align: center; }
.slider-text div a { text-decoration: none;}
.slider-img, .slider-text { float: left; height: 420px; background-color: #89609F; font-family: Heinrich; font-weight: 500;
 font-size: 1.5em; }
.slider-img img { height: 420px; }
.slider-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 990px) {
	.logo, .links, .big-img, .slider {
		width: 86%;
		margin-left: 7%;
	}
}
@media (max-width: 805px) {
	.logo, .links, .big-img, .slider {
		width: 96%;
		margin-left: 2%;
	}
}
@media (max-width: 730px) {
	.links { margin-top: 2em; }
	.slider { height: auto; }
	.slider-img { width: 100%; }
	.slider-text { width: 100%; height:auto; }
	#better {display: none; }
}
