* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background: url('../img/fon2.jpeg');
}
header {
	width: 100%;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}
footer {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: whitesmoke;
	background-color: #000;
	opacity: 0.5;
	margin-top: 4em;
	font-size: 1.3em;
}
img {
	width: 100%;
	height: auto;
}
@font-face {
    font-family: Heinrich; /* Имя шрифта */
    src: url(Heinrich.ttf); /* Путь к файлу со шрифтом */
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: wheat;
}
hr {
	width: 100%;
	margin-bottom: 0.8em;
}
footer div a {
	color: whitesmoke;
}
footer div a:hover {
	color: purple;
}
.logo {
	font-family: Heinrich;
    font-size: 2.4em;
    font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 70%;
	margin-left: 15%;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.links {
	width: 70%;
	margin-left: 15%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	display: flex;
	align-items: center;
	height: 40px;
	font-family: Heinrich;
    font-size: 1.7em;
    font-weight: bold;
}
.links div { flex: 1; display: flex; flex-wrap: wrap; justify-content: space-around; }
.links a { text-decoration: none; }
.main-block { width: 100%; float: left; margin-top: 1em; margin-bottom: 4em; }
.big-img {
	float: left;
	width: 70%;
	margin-left: 15%;
	position: relative;
}
.big-img-text {
	width: 90%;
	margin-left: 5%;
	color: #FFF;
	font-size: 1.8em;
	float: left;
	position: absolute;
	bottom: 4em;
	font-family: Heinrich;
}
.slider { width: 70%; margin-left: 15%; float: left; margin-bottom: 2em; margin-top: 2em; height: 420px; }
.slider-img { width: 35%; }
.slider-text {   background-color: #89609F; height: 17em; width: 65%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }
.slider-text div {width: 85%; text-align: center; float: left; display: flex;}
.slider-text div a { text-decoration: none;}
.slider-img, .slider-text { float: left; height: 420px; font-family: Heinrich; font-weight: 500; font-size: 1.5em; }
.slider-img img { height: 420px; }


.slider1 { width: 100%; float: left; margin-bottom: 2em; margin-top: 2em; }
.slider-img1 { width: 50%; }
.slider-text1 { width: 50%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; font-family: Heinrich; font-size: 1.5em; background-color: #89609F;}
.slider-text1 div {width: 85%; text-align: center; float: left;}
.slider-text1 div a { text-decoration: none;}
.slider-img1, .slider-text1 { height: 20.1em; float: left; font-family: Heinrich; font-weight: 500; font-size: 1.5em; display: flex; }
.slider-img1 img {}

.before-after { width: 70%; margin-left: 15%; float: left; }
.before-after-img { width: 50%; float: left; position: relative; }
.before-after-img div { text-align: center; margin-top: 0.5em; width: 98%; font-family: Heinrich; font-size: 1.5em;}
.before-after-img img { width: 100%; }
.before-after-text { width: 100%; float: left; font-family: Heinrich; font-size: 1.5em; text-align: center; margin-top: 0.5em;}
.before-after-text1 {height:21.5em; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; width: 50%; float: left; background-color: #89609F; font-family: Heinrich; font-size: 1.4em; text-align: center;}

@media (max-width: 1120px) {
	.logo, .links, .big-img, .slider, .offer, .before-after {
		width: 86%;
		margin-left: 7%;
	}
	.slider-img1 { width: 40%;}
	.slider-img1, .slider-text1 {height: 15.1em;}
	.slider-text1 {width: 60%;}
}
@media (max-width: 975px) {
	.logo, .links, .big-img, .slider, .offer, .before-after {
		width: 86%;
		margin-left: 7%;
	}
	.slider-img1 { width: 40%;}
	.slider-img1, .slider-text1 {height: 17.1em;}
	.slider-text1 {width: 60%;}
}
@media (max-width: 900px) {
	.logo, .links, .big-img, .slider, .offer, .before-after {
		width: 86%;
		margin-left: 7%;
	}
}
@media (max-width: 882px) {
	.logo, .links, .big-img, .slider, .offer, .before-after {
		width: 86%;
		margin-left: 7%;
	}
	.slider-img1 { width: 60%; margin-left: 6em;}
	.slider-img1, .slider-text1 {height: 15.1em;}
	.slider-text1 {width: 100%;}
}
@media (max-width: 750px) {
	.logo, .links, .big-img, .slider, .slider1, .offer, .before-after {
		width: 96%;
		margin-left: 2%;
	}
	.slider-img {width: 30%;}
	.slider-img img {height: 320px;}
	.slider-text {height: 320px; width: 70%; font-size: 1.3em;}
	.slider {margin-bottom: 0em; height: 340px;}
}
@media (max-width: 660px) {
	.links { margin-top: 2em; }
}
@media (max-width: 620px) {
	.before-after-img { width: 100%;  }
	.before-after-img div { text-align: center; }
	.before-after-img div img { width: 45%; }
	.before-after-text { display: none; }
	.slider { height: auto; margin-bottom: 1em;}
	.slider-img { width: 60%; margin-left: 20%; height: 370px;}
	.slider-text { width: 100%; height:auto;}
	.slider1 { height: auto; margin-top: 0em;}
	.slider-img1 { width: 70%; margin-left: 15%;}
	.slider-text1 { width: 100%; font-size: 1.2em; height:auto;}
	.slider-img img {height: 360px;}
}
