* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background: url('../img/fon2.jpeg');
}
header {
	width: 100%;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}
footer {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: whitesmoke;
	background-color: #000;
	opacity: 0.5;
	margin-top: 4em;
	font-size: 1.3em;
}
img {
	width: 100%;
	height: auto;
}
@font-face {
    font-family: Heinrich; /* Имя шрифта */
    src: url(Heinrich.ttf); /* Путь к файлу со шрифтом */
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: wheat;
}
hr {
	width: 100%;
	margin-bottom: 0.8em;
}
footer div a {
	color: whitesmoke;
}
footer div a:hover {
	color: purple;
}
.logo {
	font-family: Heinrich;
    font-size: 2.4em;
    font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 70%;
	margin-left: 15%;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.links {
	width: 70%;
	margin-left: 15%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	display: flex;
	align-items: center;
	height: 40px;
	font-family: Heinrich;
    font-size: 1.7em;
    font-weight: bold;
}
.links div { flex: 1; display: flex; flex-wrap: wrap; justify-content: space-around; }
.links a { text-decoration: none; }
.main-block { width: 100%; float: left; margin-top: 1em; margin-bottom: 4em; }
.big-img {
	float: left;
	width: 70%;
	margin-left: 15%;
	position: relative;
}
.big-img-text {
	width: 100%;
    text-align: center;
    font-size: 1.8em;
    float: left;
    font-family: Heinrich;
    font-weight: bold;
}
.slider { width: 70%; margin-left: 15%; float: left; margin-top: 0.5em; height: 350px; }
.slider-img { width: 65%; display: flex; float: left;}
.slider-text { width: 35%; display: flex; align-items: center; background-color: #89609F; flex-wrap: wrap; justify-content: center; }
.slider-text div { width: 100%; text-align: center; float: left;}
.slider-img, .slider-text { float: left; height: 350px; font-family: Heinrich; font-weight: 500; font-size: 1.3em; }
.slider-img img { height: 350px; }
.text {font-family: Heinrich; font-size: 1.8em; font-weight: bold; float: left; width: 100%; text-align: center;}

@media (max-width: 980px) {
	.logo, .links, .big-img, .slider, .before-after {
		width: 86%;
		margin-left: 7%;
	}
}
@media (max-width: 815px) {
	.logo, .links, .big-img, .slider, .before-after {
		width: 96%;
		margin-left: 2%;
	}
}
@media (max-width: 720px) {
	.links { margin-top: 2em; }
	.big-img div img { display: none;}
	.slider {height: 300px;}
	.slider-img {width: 57%}
	.slider-img {height: 80%;}
	.slider-text {height: 13.9em; width: 43%; font-size: 1.26em;}
}
@media (max-width: 680px) {
	.slider { height: auto; }
	.slider-img { width: 100%; height: 70%}
	.slider-text { width: 100%; height: 13em;}
	#better {display: none; }
}
